
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Shantell+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Montserrat:wght@500&family=Shantell+Sans:ital,wght@1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 , h2 , h5 , p ,a{
    color: white;
    font-family: 'Shantell Sans', cursive;
    font-weight: 100;
}



.intro_sec{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.intro_main{
    text-align: center;
    margin: 1em;
    z-index: 1;
    padding: 20px;
    border-style:solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.816);
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    /* display: none; */

}
.intro_main p{
    font-family:'DotGothic16', sans-serif;
}
.intro_main hr{
    width: 70%;
    margin: 10px auto;
    color: white;
}

.intro_main img{
    transition: all 0.3s ease-in;
    border-radius: 50%;
}

.intro_main img:hover{
    transform: scale(2.5);

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.social_links{
    display: flex;
    justify-content: center;
    align-items: center;

}

.links {
    list-style: none;
    display: flex;
}

.links li{
    padding: 0px 8px;
}

.links a,.pj_links a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.links a:hover , .pj_links a:hover{
    border-style:solid ;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
    background-color:#FE83C6;

}

.projects hr{
    width: 25%;
}

.pj_links{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pj_links li{
    
    color: white;
    font-family: 'Shantell Sans', cursive;
    margin: 7px 0px;
}

.pj_links p{
    display: none;
    margin: 0px 2px;
    margin-top: 10px;
}

.icon_next{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.icon_next img{
    padding: 3px;
    align-items: center;
}

.anime_content{
    display: none;
    transition: all 0.3s ease-in-out;
}

.anime_sec ul li{
    transition: all 0.3s ease-in-out;
}

.anime_sec ul li:hover{
    border-style:solid ;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
    background-color:#FE83C6;
}

.project_sec{
    display: none;
}

